* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    background-color: rgb(236, 236, 236);
}

.top-page {
    background-color: white;
}

.main-content {
    padding: 20px;
}

.container {
    background-color: white;
    max-width: 800px;
    margin: 0 auto;  
    padding: 10px 20px; 
}

.bt-add {
    padding: 5px;
    border: 1px solid grey;
    border-radius: 10%;
}

.task {
    background-color: rgb(20, 170, 245);
}

.container-2 {
    margin-top: 2px;
}

.category {
    margin-top: 20px;
}

.list {
    list-style: none;
}

.list-title {
    font-family: "Playfair Display", serif;
    font-weight: 800;
    font-size: 25px;
}

.padding-top {
    padding-top: 15px;
}

.inline-block {
    display: inline-block;
}

.circle {
    width: 20px;
    height: 20px;
    border-radius: 50%;
}

.check {
    color: green;
    border:  1px solid green;
    padding-left: 3px;
}

.list-item-font {
    font-family: "Playfair Display", serif;
    font-size: 16px;
}

.label {
    color: white;
    padding: 3px 20px;
    border-radius: 40px;
}

.blue-label {
    background-color: rgb(20, 170, 245);
}

.violet-label {
    background-color: rgb(171, 93, 230);
}

.cross {
    color: red;
    border:  1px solid red;
    padding-left: 4px;
}

.water-blue-label {
    background-color: rgb(44, 198, 171);
}

.orange-label {
    background-color: rgb(255, 155, 0);
}

.none-label {
    display: none;
}

.pink-label {
    background-color: rgb(236, 74, 157);
}

.green-label {
    background-color: rgb(163, 209, 22);
}