* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    background-color: rgb(225, 225, 225);
}

.top-page {
    background-color: white;
}

.main-content {
    padding: 20px;
}

.container {
    background-color: white;
    max-width: 800px;
    margin: 0 auto;  
    padding: 10px 20px; 
}

.bt-add {
    padding: 5px;
    border: 1px solid grey;
    border-radius: 10%;
}

.task {
    background-color: rgb(20, 170, 245);
}

.container-2 {
    margin-top: 2px;
}

.category {
    margin-top: 20px;
}

.list {
    list-style: none;
}

.list-title {
    font-family: "Playfair Display", serif;
    font-weight: 800;
    font-size: 25px;
}

.inline-block {
    display: inline-block;
}

.circle {
    width: 20px;
    height: 20px;
    border:  1px solid green ;
    border-radius: 50%;
    color: green;
    padding-left: 3px;
}

.list-item {
    font-family: "Playfair Display", serif;
    font-size: 16px;
    padding-top: 5px;
}

.label {
    padding: 3px 8px;
    border-radius: 40px;
}

.blue-label {
    background-color: rgb(20, 170, 245);
}