* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    background-color: rgb(225, 225, 225);
}

.top-page {
    background-color: white;
}

.main-content {
    padding: 20px;
}

.container {
    background-color: white;
    max-width: 800px;
    margin: 0 auto;  
    padding: 10px 20px; 
}

.bt-add {
    padding: 5px;
    border: 1px solid grey;
    border-radius: 10%;
}

.task {
    background-color: rgb(20, 170, 245);
}

.container-2 {
    margin-top: 2px;
}